<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Age calculator app</title>
    <link rel="apple-touch-icon" sizes="180x180" href="./images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <main>
        <section>
            <form action="/input" method="post">
                <div class="input-container">
                    <label for="day">DAY</label>
                    <input type="text" name = "date" id="day" aria-describedby="day-error" placeholder="DD" >    
                    <p aria-hidden="true" id="day-error">This field is required </p>
                    <p aria-hidden="true" id="invalid-error">must be a valid date</p>

                </div>
                <div class="input-container">
                    <label for="month">MONTH</label>
                    <input type="text" name = "month" id="month" aria-describedby="month-error" placeholder="MM" >
                    <p aria-hidden="true" id="month-error">This field is required</p> 
                    <p aria-hidden="true" id="invalid-error">must be a valid month</p>    
                </div>
                <div class="input-container">
                    <label for="year">YEAR</label>
                    <input type="text" name = "year" id="year" aria-describedby="year-error" placeholder="YYYY" >
                    <p aria-hidden="true" id="year-error">This field is required</p>
                    <p aria-hidden="true" id="invalid-error">must be a valid year</p>        
                </div>
            </form>
            <article class="submit-section">  
                <div class="border">

                </div>
                <div class="icon">
                    <button id="submit"><img src="./images/icon-arrow.svg" alt="submit icon  "></button>
                </div>
           </article>
            <article>
                <h1><span>--</span> years </h1>
                <h1><span>--</span> months </h1>
                <h1><span>--</span> days</h1>
            </article>
        </section>
    </main>
    <script src="/script/validation.js  "></script>
</body>
</html>